<header>
	<h1>Build-A-Burger!</h1>
</header>
<!-- END header -->

<div class="wrapper">
	<div id="create-burger">
		<form action="/" method="POST">
			<input id="burger-name" type="text" name="burger_name" placeholder="Build Your Burger">
			<button id="submit-btn" type="submit">Build It!</button>
		</form>
	</div>

	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Choices</h2>
			{{#each burgers}}
				{{#unless this.devoured}}
				  <div class="burger">
				    <form class="devour-burger-form" action="/{{id}}?_method=PUT" method="POST">
				  		<button class="eat-btn">DEVOUR IT!</button>
				    </form>
						{{burger_name}} <span>#{{id}}</span>
				  </div>
				{{/unless}}
			{{/each}}
		</div>
		<div id="burgers-devoured">
			<h2>Already in the Belly!</h2>
			{{#each burgers}}
				{{#if this.devoured}}
				  <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>
</div>